{% extends "include_static/ar/index.html"%}
{% block Title_Pages %}| جميع الطلاب{% endblock %}
{% load static %}
{% block else_css_codes %}
<link href="{% static 'assets/lib/datatables-bs4/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/lib/datatables.net-responsive-bs4/responsive.bootstrap4.css' %}" rel="stylesheet">
<link href="{% static 'assets/lib/fancybox/jquery.fancybox.min.css' %}" rel="stylesheet">
{% endblock %}
{% block start_body %}
<div class="card mb-3">
    <div class="card-body">
      <div class="row flex-between-center">
        <div class="col-md">
          <h5 class="mb-2 mb-md-0">جميع الطلاب</h5>
        </div>
        <div class="col-auto"><a href="{% url 'students_add_web' %}" class="btn btn-falcon-default btn-sm me-2">اضافة جديد</a></div>
      </div>
    </div>
</div>
<div class="card mb-3">
    <div class="table-responsive scrollbar">
      <table class="table table-striped overflow-hidden">
        <thead>
          <tr class="btn-reveal-trigger">
            <th scope="col">الكود</th>
            <th scope="col">اسم الطالب</th>
            <th scope="col">الحاله</th>
            <th scope="col">النظام</th>
            <th scope="col">الفرقة</th>
            <th scope="col">أنشئت في</th>
            <th scope="col">انشأ من قبل</th>
            <th scope="col">تم التحديث في</th>
            <th scope="col">تم التحديث بواسطة</th>
            <th class="text-end" scope="col"></th>
          </tr>
        </thead>
        <tbody>
        {% for item in items %}
          <tr class="btn-reveal-trigger">
            <td style="padding-top: 20px;">{{item.username}}</td>
            <td style="padding-top: 20px;">{{item.name}}</td>
            <td style="padding-top: 20px;">
              {% if item.pending %}
              في الانتظار
              {% else %}
              تم القبول
              {% endif %}
            </td>
            <td style="padding-top: 20px;">
              {{item.system}}
            </td>
            <td style="padding-top: 20px;">
              {{item.team}}
            </td>
            <td style="padding-top: 20px;">{{item.created_at}}</td>
            <td style="padding-top: 20px;">{{item.created_by.first_name|title}} {{item.created_by.last_name|title}}</td>
            <td style="padding-top: 20px;">{% if item.updated_by %}{{item.updated_at}}{% else %}لم يتم التحديث{% endif %}</td>
            <td style="padding-top: 20px;">{% if item.updated_by %}{{item.updated_by.first_name|title}} {{item.updated_by.last_name|title}}{% else %}لم يتم التحديث{% endif %}</td>

            <td style="padding-top: 20px;"><a href="{% url 'students_edit_web' item.id %}">تعديل</a></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
</div>
{% endblock %}

